<!-- Loads the mode_selector node for a simulatioin or a demo,
		useful to quicly access  while debugging
		To start the user_intentions module with the desired interface
		set the proper value of <arg name="control" default="key" /> -->
<!-- author: Arturo -->
<launch>
	#Params for this launch file
	<arg name="sim" default="1" />
	<arg name="mode" default="autonomous"/>#The initial mode
	#For a simulation
	<group if="$(arg sim)" ns="robot_0">
		<param name="/use_sim_time" value="true" />
		<param name="tf_prefix" value="robot_0" />
		<node pkg="user_intentions" type="mode_selector.py" name="mode_selector" respawn="true" output="screen" >
			<param name="mode" value="$(arg mode)"/> #Set to "autonomous" to be active
    	</node>
    </group>
    #For a demo
	<group unless="$(arg sim)" ns="wheelchair">
		<param name="tf_prefix" value="wheelchair" />
		<node pkg="user_intentions" type="mode_selector.py" name="mode_selector" respawn="true" output="screen" >
			<param name="mode" value="$(arg mode)"/> #Set to "autonomous" to be active
    	</node>
    </group>
</launch>
