<!-- This file should be launched in the remote machine, -->
<!-- this will send a cmd_vel message to the local computer running "simulation_receiver.launch" -->
<!-- Author: Arturo Escobedo  -->
<launch>
    <param name="/use_sim_time" value="true"/>  
	<node pkg="wheelchair_teleop" type="wheelchair_teleop" name="wheelchair_teleop" output="screen"/>
</launch>
