<!-- FIRST PART Used to run a simultaion of user intentions module and my ui_local_planner using the KEYBOARD as input, 	-->
<!-- USAGE:
    (1) roslaunch wheelchairconf sim_ui_local_planner_destination_1.launch
    Then in other terminal
    (2) roslaunch wheelchairconf sim_ui_local_planner_destination_2.launch

-->
<launch>

	<param name="/use_sim_time" value="true" />
	<arg name="scenario" default="hall_inria" />
	<arg name="planner" default="ui_planner" />
	<arg name="mode_selector" default="1"/>
    <arg name="sim" default="1"/>
    <arg name="persons" default="2"/> <!--For social filter: change this according to the  number of persons in the environment -->
    <arg name="mode" default="autonomous"/><!-- it can be manual or autonomous -->

    #### START SIMULATED WORLD ####
	<!-- Start stage -->
	<param name="/use_sim_time" value="true" />
    <node pkg="stage" type="stageros" name="stageros" args="$(find wheelchairconf)/world/$(arg scenario).world" respawn="false" output="screen">
	    <param name="base_watchdog_timeout" value="0.2"/>
    </node>

    <include file="$(find wheelchairconf)/world/$(arg scenario).launch"/>

    ##### START NAVIGATION ####
    ####### Publish the map: It should be global so no namespace is defined #####
	<param name="/use_sim_time" value="true" />
	<node pkg="map_server" type="map_server" name="map_server" output="log" args="$(find wheelchairconf)/world/$(arg scenario).yaml" respawn="true" >
		<param name="frame_id" value="/map" />
	</node>

	##### UI_PLANNER NODE #######
	<group ns="robot_0">
		<param name="/use_sim_time" value="true" />
		<param name="tf_prefix" value="robot_0" />
		<include file="$(find wheelchairconf)/launch/navigation/amcl.launch" />
		<node pkg="ui_planner_node" type="ui_planner_node" name="ui_planner_node" >
			<remap from="map" to="/map"/>
			<remap from="teleop_cmd_vel" to="key_vel"/>
			<rosparam file="$(find wheelchairconf)/config/navigation/ui_planner_node/ui_planner_node.yaml"
			command="load"/>

		</node>
		<node pkg="tf" type="static_transform_publisher" name="tf_map_to_wheelchair" args="0 0 0 0 0 0 /map /robot_0/map 100" />
		<!--node pkg="tf" type="static_transform_publisher" name="baselink_to_teleop" args="0 0 0 0 0 0 /robot_0/base_link /robot_0/odom_combined 100" /-->
        <node pkg="tf" type="static_transform_publisher" name="tf_stage_laser_to_real_laser" args="0 0 0 0 0 0 base_laser_link base_laser 100" />
	</group>

	#### KEYBOARD  ######
		### START KEYBOARD ###
	<group ns="robot_0">
		<param name="/use_sim_time" value="true" />
    	<node pkg="wheelchairint" type="keyboard.py" name="keyboard" respawn="true" output="screen">
		</node>
	</group>

	<node pkg="rviz" type="rviz" name="rviz"/>

</launch>
