.metadata/
*.*~
*CATKIN_IGNORE
*CATKIN_IGNORE.bkp
*/catkin
*/catkin_generated
*/config/navigation/assisted_teleop
*/devel
*/gtest
*/bin
*/cfg/cpp
*/#*
*/.#*
riskrrt_local_planner/.settings/
*.pyc
*/test_results
*/.settings
*/CMakeFiles
